.styled-v-bar{ /* sample CSS class for a different vertical scrollbar look */
	background:	url(custom-scroll-bar.png) center top no-repeat;
	width: 10px;
	margin-right: 0;
	margin-bottom: 4px;
}

.styled-v-bar ins{ /* Style for the "ins" inner element, or bottom of the scrollbar */ 
	display: block;
	background:	url(custom-scroll-bar.png) center bottom no-repeat;
	width: 10px;
	height: 4px;
	position: absolute;
	top: 100%;
}

table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}