@model InstructionViewModel
@{
    ViewData["Title"] = "Instruction";
}

<style>
    .area-instruksi .judul {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        font-size: 16px;
        line-height: 30px;
    }

    .area-instruksi #fvpp-close {
        display: block;
        float: right;
        width: auto;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        text-transform: uppercase;
        background: #006acc;
        color: #FFF;
        text-align: center;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: none;
        *margin-right: 10px;
        *bottom: 100px;
        *right: 200px;
        position: relative;
    }

    .area-tatacara ul li {
        border-bottom: none;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="area-judul-halaman">Instruksi Pengerjaan Soal Ujian</div>
    </div>
    <div class="col-md-12" style="height:350px; background-color: white;">
        @if (Model.TipeUjianId == 8)
        {
            <div class="area-tatacara" style="height:calc(100% - 60px); overflow:auto; padding:0 0;">
                <ul style="list-style:none !important; list-style-type:none !important;">
                    <li>

                        <div class="area-instruksi">

                            <div class="judul">Tes Logika A Sub test 1</div>

                            <div class="keterangan">
                                <p>Lihatlah gambar-gambar pada contoh pada tes ini. Kita lihat contoh pada baris pertama. Disitu Anda lihat bagaimana ranting pohon condong merebah, bagaikan tertiup angin. Mulai gambar di kotak pertama sampai pada kotak ketiga.</p>

                                <span><img src="/images/contoh/a_subtes1_contoh1.jpg"></span>

                                <p>Dapatkah Anda memilih 1 (satu) kotak selanjutnya diantara 6 (enam) kotak yang telah tersedia?</p>

                                <p>Kotak <b>"c"</b> adalah yang tepat untuk gambar ranting yang rendah selanjutnya. Maka pilihlah <b>"c"</b> untuk jawaban Anda.</p>

                                <p>Sekarang lihatlah contoh kedua. Lihatlah bagian yang hitam, makin lama makin turun ke bawah. Seolah-olah itu sebuah tirai yang diturunkan dari atas ke bawah. Tentunya Anda tahu gambar yang tepat untuk mengisi kotak selanjutnya?</p>

                                <span><img src="/images/contoh/a_subtes1_contoh2.jpg"></span>

                                <p>Kotak <b>"e"</b> adalah yang tepat untuk gambar selanjutnya, maka pilihlah jawaban <b>"e"</b>.</p>

                                <p>Sekarang kita beralih pada contoh ketiga. Lihatlah gambar-gambar kelopak daun bunga itu. Makin lama makin merekah bertambah satu helai daun, dimulai dari atas terus ke kiri. Nah, bagaimanakah Anda mengisi kelanjutan dari gambar-gambar tersebut? Coba cari kotak mana yang paling tepat?</p>

                                <span><img src="/images/contoh/a_subtes1_contoh3.jpg"></span>

                                <p>Kotak <b>"e"</b> adalah yang tepat untuk gambar selanjutnya.</p>

                                <p>Mulailah dari no. 1 – 13. <b>Waktu anda terbatas, bekerjalah dengan cepat, teliti dan tepat.</b></p>

                                @*<input type="button" value="OK" onclick="setBacaTipeUjian(8)" id="fvpp-close">*@
                                <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>
                                <br /><br />

                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        }
        else if (Model.TipeUjianId == 9)
        {
            <div class="area-tatacara" style="height:calc(100% - 60px); overflow:auto; padding:0 0;">
                <ul style="list-style:none !important; list-style-type:none !important;">
                    <li>

                        <div class="area-instruksi">
                            <div class="judul">Tes Logika A Sub test 2</div>

                            <div class="keterangan">
                                <p>
                                    Lihatlah gambar-gambar contoh pada baris pertama. Disitu ada 3 (tiga) kotak yang mempunyai bentuk gambar yang sama, tetapi 2 (dua) kotak lain yang mempunyai bentuk gambar yang berbeda.
                                    Tugas Anda adalah mencari pada setiap baris soal, 2 kotak yang gambarnya berbeda dengan gambar 3 kotak lainnya. Apabila Anda telah menemukan 2 kotak yang berbeda tersebut, maka pilihlah 2 (dua) huruf jawaban yang mewakili kotak tersebut.
                                </p>
                                <p>Pada gambar di garis pertama, Anda melihat ada 3 (tiga) kotak yang gambarnya <i>segitiga</i> dan 2 (dua) kotak yang gambarnya <i>segiempat</i>. Jadi, 2 kotak yang gambarnya </p><ul>segiempat</ul> itulah jawabannya.<p></p>

                                <span><img src="/images/contoh/a_subtes2_contoh1.jpg"></span>

                                <p>Kedua gambar itu berada di kotak dengan huruf <b>"b"</b> dan <b>"d"</b>. Maka Anda harus memilih jawaban <b>"b"</b> dan <b>"d"</b>.</p>

                                <p>Sekarang lihatlah contoh pada baris kedua. Carilah 2 (dua) gambar yang berbeda dengan 3 (tiga) gambar lainnya.</p>

                                <span><img src="/images/contoh/a_subtes2_contoh2.jpg"></span>

                                <p>Jawabannnya adalah <b>"c"</b> dan <b>"e"</b>.</p>

                                <p>Sekali lagi, tugas Anda adalah memilih 2 kotak atau 2 gambar yang berbeda dengan gambar-gambar yang lainnya pada setiap baris soal. Jadi, Anda harus memilih 2 jawaban.</p>


                                <p><b>Waktu anda terbatas, bekerjalah dengan cepat, teliti dan tepat.</b></p>

                                @*<input type="button" value="OK" onclick="setBacaTipeUjian(9)" id="fvpp-close">*@
                                <a id="fvpp-close" asp-route="ExamMulti" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>

                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        }
        else if (Model.TipeUjianId == 10)
        {
            <div class="area-tatacara" style="height:calc(100% - 60px); overflow:auto; padding:0 0;">
                <ul style="list-style:none !important; list-style-type:none !important;">
                    <li>

                        <div class="area-instruksi">
                            <div class="judul">Tes Logika A Sub test 3</div>

                            <div class="keterangan">
                                <p>Perhatikan gambar-gambar contoh pada tes 3 ini. Di dalam kotak yang besar, ada 4 kotak yang kecil. Tiga dari kotak-kotak kecil itu bergambar, tetapi ada 1 kotak kecil yang hilang. Kotak yang hilang ini terletak di antara 6 kotak kecil yang berada di sebelah kanan. Pilihlah salah satu.</p>

                                <span><img src="/images/contoh/a_subtes3_contoh1.jpg"></span>

                                <p>Dapatkah Anda memilih 1 (satu) kotak selanjutnya diantara 6 (enam) kotak yang telah tersedia?</p>

                                <p>Perhatikan, kotak kedua lah yang tepat untuk mengisi kotak yang kosong itu. Kotak kedua ini terletak pada huruf <b>"b"</b>. Maka pilihlah jawaban <b>"b"</b>.</p>

                                <p>Sekarang lihatlah contoh kedua. Manakah jawaban yang benar?</p>

                                <span><img src="/images/contoh/a_subtes3_contoh2.jpg"></span>

                                <p>Kotak yang terletak pada huruf <b>"c"</b> yang tepat untuk mengisi kotak kecil yang hilang tersebut, karena yang hilang itu adalah gambar </p><ul>ayam berbintik</ul> yang menghadap ke kanan. Maka pilihlah jawaban sesuai dengan yang Anda anggap benar tersebut.<p></p>

                                <p>Sekarang perhatikan kotak ketiga. Ada berapakah lingkaran yang Anda lihat?</p>

                                <span><img src="/images/contoh/a_subtes3_contoh3.jpg"></span>

                                <p>Kotak dengan satu lingkaran putih adalah yang tepat untuk mengisinya. Kotak yang terletak pada  huruf <b>"f"</b> itulah jawabannya.</p>

                                <p><b>Waktu anda terbatas, bekerjalah dengan cepat, teliti dan tepat.</b></p>

                                @*<input type="button" value="OK" onclick="setBacaTipeUjian(10)" id="fvpp-close">*@
                                <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>

                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>
