@model InstructionViewModel
@{
    ViewData["Title"] = "Instruction";
}

<style>
    .area-instruksi .judul {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        font-size: 16px;
        line-height: 30px;
    }

    .area-instruksi #fvpp-close {
        display: block;
        float: right;
        width: auto;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        text-transform: uppercase;
        background: #006acc;
        color: #FFF;
        text-align: center;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: none;
        *margin-right: 10px;
        *bottom: 100px;
        *right: 200px;
        position: relative;
    }

    .area-tatacara ul li {
        border-bottom: none;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="area-judul-halaman">Instruksi Pengerjaan Soal Ujian</div>
    </div>
    <div class="col-md-12" style="height:350px; background-color: white;">
        <div class="area-tatacara" style="height:calc(100% - 60px); overflow:auto; padding:0 0;">
            <ul style="list-style:none !important; list-style-type:none !important;">
                <li>
                    @if (Model.TipeUjianId >= 28 && Model.TipeUjianId <= 42)
                    {
                        <partial name="TipeUjian/TipeUjian28-42" />
                    }
                    else
                    {
                        <partial name="TipeUjian/TipeUjian@(Model.TipeUjianId)" />
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
