@model IEnumerable<TahapanTesViewModel>
@{
    ViewData["Title"] = "Tahapan Tes";
}

<div class="row">
    <div class="col-md-12">
        <div class="area-judul-halaman">Tahapan Tes</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="area-soal">
            <div class="area-sudah finish">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <span class="pilih-data" style="float:left; margin-left:10px;">
                                <a asp-route="Instruction" asp-route-UjianTahapId="@item.UjianTahapId" class="tahap-belum">
                                    @item.Tipe &raquo;
                                </a>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>