<div class="area-soal reqInfoIsi">

    <div id="main-slider-wrapper" class="ls-wrapper arrows ls-responsive" style="width: 100%; max-width: 12716px;">
        <div class="ls-nav"><div class="ls-select-box" style="display: none;"><select id="main-slider-nav-select" name="navigation" style="display: none;"><option disabled="disabled" selected="selected">Menu</option></select></div><ul id="main-slider-nav-ul" style="float: left; display: block;"></ul></div><div class="ls-nav-left-arrow ls-hidden" style="visibility: visible; opacity: 0;"><a href="#"></a></div><div id="main-slider" class="liquid-slider" style="transition: all 1500ms cubic-bezier(1, 0, 0, 1) 0s; height: 228px;">
            <div class="panel-container" style="width: 1700%; transition: all 1500ms cubic-bezier(1, 0, 0, 1) 0s; transform: translate3d(-5.88235%, 0px, 0px);">
                <div id="15" class="area-soal-item main-slider-panel ls-panel clone" style="width: 738px;">
                    <div class="panel-wrapper"></div>
                </div>
                <div id="1" class="area-soal-item main-slider-panel ls-panel currentPanel" style="width: 738px;">
                    <div class="panel-wrapper">
                        
                        <input type="hidden" id="reqTempBankSoalPilihanId1-9-4224-14" value="">
                        <input type="hidden" name="reqBankSoalPilihanId[]" id="reqBankSoalPilihanId1-9-4224-14" value="">
                        <span class="nomor">1</span>
                        <div class="area-jawab-pilihan-ganda">
                            <label class="gambar-kecil">
                                <input type="checkbox" class="easyui-validatebox validatebox-text" name="reqRadio9-4224-14" id="reqRadio1-9-4224-14-79" value="79" checked="checked">
                                <span>
                                    <img src="../main/uploads/bank_soal/CFIT_A/materi_2/jawaban_a_1_a.jpg">
                                </span>
                            </label>
                            <label class="gambar-kecil">
                                <input type="checkbox" class="easyui-validatebox validatebox-text" name="reqRadio9-4224-14" id="reqRadio1-9-4224-14-80" value="80" checked="checked">
                                <span>
                                    <img src="../main/uploads/bank_soal/CFIT_A/materi_2/jawaban_a_1_b.jpg">
                                </span>
                            </label>
                            <label class="gambar-kecil">
                                <input type="checkbox" class="easyui-validatebox validatebox-text" name="reqRadio9-4224-14" id="reqRadio1-9-4224-14-81" value="81">
                                <span>
                                    <img src="../main/uploads/bank_soal/CFIT_A/materi_2/jawaban_a_1_c.jpg">
                                </span>
                            </label>
                            <label class="gambar-kecil">
                                <input type="checkbox" class="easyui-validatebox validatebox-text" name="reqRadio9-4224-14" id="reqRadio1-9-4224-14-82" value="82">
                                <span>
                                    <img src="../main/uploads/bank_soal/CFIT_A/materi_2/jawaban_a_1_d.jpg">
                                </span>
                            </label>
                            <label class="gambar-kecil">
                                <input type="checkbox" class="easyui-validatebox validatebox-text" name="reqRadio9-4224-14" id="reqRadio1-9-4224-14-83" value="83">
                                <span>
                                    <img src="../main/uploads/bank_soal/CFIT_A/materi_2/jawaban_a_1_e.jpg">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="ls-nav-right-arrow ls-hidden" style="visibility: visible; opacity: 0;"><a href="#"></a></div>
    </div>
</div>