
@{
    ViewData["Title"] = "Tahap 1";
}

<div class="row">
    <div class="col-md-12">
        <div class="area-judul-halaman">Instruksi</div>
    </div>

    <div class="col-md-12">
        <div class="area-tatacara">
            <ul style="list-style:none !important; list-style-type:none !important;">
                <li>

                    <div class="area-instruksi">

                        <div class="judul" style="text-align:center">
                            <p><b>PETUNJUK DAN CONTOH UNTUK KELOMPOK SOAL 01</b></p>
                            <p><b>(Soal-soal No. 01-20)</b></p>
                        </div>
                        <br />
                        <div class="keterangan">
                            <p>Soal-soal 01 - 20 terdiri atas kalimat-kalimat. <br /> Pada setiap kalimat satu kata hilang dan disediakan 5 (lima) kata pilihan sebagai penggantinya. <br /> Pilihlah kata yang tepat yang dapat menyempurnakan kalimat itu ! </p>
                            <br />
                            <br />
                            <b>Contoh 01</b>
                            <br />
                            <br />
                            <p>Seekor kuda mempunyai kesamaan terbanyak dengan seekor .................. </p>
                            <p> a) kucing &nbsp; &nbsp; b) bajing &nbsp; &nbsp; c) keledai &nbsp; &nbsp; d) lembu &nbsp; &nbsp; e) anjing</p>
                            <br />
                            <p> Jawaban yang benar ialah : c) keledai</p>
                            <p> Oleh karena itu, <b>pada lembar jawaban</b> dibelakang contoh 01,huruf c harus dicoret.</p>
                            <br />
                            <p style="text-align:center"> 01)&nbsp; &nbsp; a &nbsp; &nbsp; b &nbsp; &nbsp; <s> c </s> &nbsp; &nbsp; d  &nbsp; &nbsp; e</p>
                            <br />
                            <br />
                            <b>Contoh berikutnya :</b>
                            <br />
                            <br />
                            <p>Lawannya "harapan" ialah ................</p>
                            <p> a) duka &nbsp; &nbsp; b) putus asa &nbsp; &nbsp; c) sengsara &nbsp; &nbsp; d) cinta &nbsp; &nbsp; e) benci</p>
                            <br />
                            <p> Jawabannya ialah : &nbsp; b) putus asa</p>
                            <p> Maka Huruf b yang seharusnya dicoret</p>
                            <br />
                            @*<input type="button" value="OK" onclick="setBacaTipeUjian(19)" id="fvpp-close">*@
                            <a asp-area="Assessments" asp-controller="TahapanTes" asp-action="Tahap1" asp-route-soal="1" id="fvpp-close">OK</a>
                            <br />
                            <br />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
