<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="192.168.88.101"/>
    <add key="port" value="1521"/>
    <add key="oraclesid" value="orcl"/>
    <add key="user" value="capil_pasuruan"/>
    <add key="pass" value="capil"/>
  </appSettings>
</configuration>