@page
@model LoginModel

@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = null;
    ViewData["Title"] = "Log in";
    if (SignInManager.IsSignedIn(User))
    {
        Response.Redirect("/Assessment");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pelindo Assessment Center</title>

    <link href="~/lib/ujian/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/css/ujian/gaya.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/ujian/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet" />
    <style>
        .col-md-12 {
            *padding-left: 0px;
            *padding-right: 0px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 padding-kiri-0 padding-kanan-0">
                <div class="area-main-login">
                    <div class="logo"><img src="~/images/logo.png"></div>
                    <div class="judul-2">PT Pelabuhan Indonesia III (Persero)</div>
                    <div class="area-login">
                        <form class="form-horizontal" id="signupForm" role="form" method="post">
                            <div class="form-group">
                                <input asp-for="Input.Email" class="form-control" placeholder="EMAIL" required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Password" class="form-control" placeholder="Password" required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="LOGIN" />
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </form>
                    </div>
                </div>
                <div class="area-footer">
                    Copyright © 2019 PT Pelabuhan Indonesia III (Persero)
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/ujian/bootstrap/jquery.js"></script>
    <script src="~/lib/ujian/bootstrap/bootstrap.js"></script>
    <script src="~/lib/ujian/emodal/eModal.js"></script>
    <script>
        function openPopup() {
            eModal.ajax('ubah_password.php', 'UBAH PASSWORD')
        }

        function disableBackButton() {
            setTimeout("preventPageLoad()", 1);
        }

        function preventPageLoad() {
            try {
                history.forward();
            }
            catch (e) {
            }
            setTimeout("preventPageLoad()", 100);
        }

        $(document).ready(function () {
            var idleState = false;
            var idleTimer = null;
            $('*').bind('mousemove click mouseup mousedown keydown keypress keyup submit change mouseenter scroll resize dblclick', function () {
                clearTimeout(idleTimer);
                if (idleState == true) {
                }
                idleState = false;
                idleTimer = setTimeout(function () {
                    idleState = true;
                }, 1000000);
            });
            $("body").trigger("mousemove");
        });
    </script>
    <script type='text/javascript' src="~/lib/ujian/bootstrap/angular.js"></script>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
