@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>500 Internal Server Error!</title>
    <link href="~/theme/sbadmintwo/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel='shortcut icon' type='image/x-icon' href='~/images/favicon.ico' />
</head>
<body style="background-color: #e3e3e3;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center" style="margin: 10% auto;">
                    <h1>Oops!</h1>
                    <h2>500 Internal Server Error</h2>
                    <div class="error-details">
                        Internal Server Error, Please contact Administrator!
                    </div>
                    <div style="margin-top:10px;">
                        <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Take Me Home </a>
                        <a href="mailto:web_administrator@@warnawarni.co.id" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/theme/sbadmintwo/vendor/jquery/jquery.min.js"></script>
    <script src="~/theme/sbadmintwo/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>