@model LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Aplikasi Pelaporan Hasil Assessment</title>
    <link href="~/admin/lib/bootstrap/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/admin/css/gaya-main.css" type="text/css">
    <link rel="stylesheet" href="~/admin/lib/font-awesome/4.5.0/css/font-awesome.css">
    <style>
        .col-md-12 {
            *padding-left: 0px;
            *padding-right: 0px;
        }
    </style>
    <style>
        html, body {
            height: 100%;
        }

        #wrap-utama {
            min-height: 100%;
            *min-height: calc(100% - 10px);
        }

        #main {
            overflow: auto;
            padding-bottom: 50px; /* this needs to be bigger than footer height*/
        }

        .footer {
            position: relative;
            margin-top: -50px; /* negative value of footer height */
            height: 50px;
            clear: both;
            padding-top: 20px;
            *background: cyan;
            text-align: center;
            color: #FFF;
        }
    </style>
</head>
<body>
    <div id="wrap-utama" style="height:100%; ">
        <div id="main" class="container-fluid clear-top" style="height:100%;">

            <div class="row">
                <div class="col-md-12">
                    <div class="area-header">
                        <span class="judul-app" style="color:black;">
                            <img src="~/admin/images/logo_login.png" style="width:200px;" /> &nbsp Aplikasi Pelaporan Hasil Assessment
                        </span>
                    </div>
                </div>
            </div>

            <div class="row" style="height:calc(100% - 20px);">
                <div class="col-md-12" style="height:100%;">
                    <div class="row" style="height:100%;">
                        <div class="col-md-6" style="height:100%;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 area-login">

                                    <form role="form" method="post">
                                        <fieldset>
                                            <div class="form-group">
                                                <input asp-for="Email" class="form-control input-lg" placeholder="Username" />
                                            </div>
                                            <div class="form-group">
                                                <input asp-for="Password" class="form-control input-lg" placeholder="Password" />
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <input name="slogin_POST_send" type="submit" class="btn btn-lg btn-success btn-block" value="Login" alt="DO LOGIN!">
                                                    <input type="hidden" name="reqMode" value="submitLogin">
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                    <input type="reset" class="btn btn-lg btn-warning btn-block" value="Reset">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 area-logo-login">
                                    <img src="~/admin/images/logo_login.png" style="width:50%;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" style="color:black;">
        © 2019 PT Pelabuhan Indonesia III. All Rights Reserved.
    </footer>
    <script type="text/javascript" src="~/js/jquery-1.9.1.js"></script>
    <script type='text/javascript' src="~/admin/lib/bootstrap/bootstrap.js"></script>
    <script type='text/javascript' src="~/admin/lib/bootstrap/angular.js"></script>
</body>
</html>
