@model InstructionViewModel

<div class="area-instruksi">

    <div class="judul" style="text-align:center">
        <b>
            <p>PETUNJUK DAN CONTOH UNTUK KELOMPOK SOAL 01</p>
            <p>(Soal-soal No. 01-20)</p>
        </b>
    </div>
    <br>
    <div class="keterangan">
        <p>Soal-soal 01 - 20 terdiri atas kalimat-kalimat. <br> Pada setiap kalimat satu kata hilang dan disediakan 5 (lima) kata pilihan sebagai penggantinya. <br> Pilihlah kata yang tepat yang dapat menyempurnakan kalimat itu ! </p>
        <br>
        <br>
        <b>Contoh 01</b>
        <br>
        <br>
        <p>Seekor kuda mempunyai kesamaan terbanyak dengan seekor .................. </p>
        <p> a) kucing &nbsp &nbsp b) bajing &nbsp &nbsp c) keledai &nbsp &nbsp d) lembu &nbsp &nbsp e) anjing</p>
        <br>
        <p> Jawaban yang benar ialah : c) keledai</p>
        <p> Oleh karena itu, <b>pada lembar jawaban</b> dibelakang contoh 01,huruf c harus dicoret.</p>
        <br>
        <p style="text-align:center"> 01)&nbsp &nbsp a &nbsp &nbsp b &nbsp &nbsp <s> c </s> &nbsp &nbsp d  &nbsp &nbsp e</p>
        <br>
        <br>
        <b>Contoh berikutnya :</b>
        <br>
        <br>
        <p>Lawannya "harapan" ialah ................</p>
        <p> a) duka &nbsp &nbsp b) putus asa &nbsp &nbsp c) sengsara &nbsp &nbsp d) cinta &nbsp &nbsp e) benci</p>
        <br>
        <p> Jawabannya ialah : &nbsp b) putus asa</p>
        <p> Maka Huruf b yang seharusnya dicoret</p>
        <br>
        <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>
    </div>
</div>