@model InstructionViewModel

<div class="area-instruksi">

    <div class="judul">Tes Logika B Sub test 4</div>

    <div class="keterangan">
        <p>
            Lihatlah gambar contoh yang pertama. Anda akan melihat 1 (satu) gambar di sebelah kiri dan 5 (lima) gambar di sebelah kanannya.
            Pada gambar di sebelah kiri, Anda lihat di dalam kotak ada gambar lingkaran, kotak persegi panjang dan sebuah titik. Perhatikan titik tersebut. titik tersebut berada di dalam kotak persegi panjang namun di luar lingkaran.
        </p>
        <p>Sekarang lihatlah pada 5 gambar yang berada di sebelah kanan. Gambar manakah yang mungkin diletakkan sebuah titik di dalam kotak persegi panjang namun di luar lingkaran?</p>

        <span><img src="/images/contoh/b_subtes4_contoh1.jpg"></span>

        <p>Jawabannya adalah gambar yang terletak di atas huruf <b>"c"</b>.</p>


        <p>Ingat, Anda diminta untuk mencari titik dalam kondisi yang sama seperti gambar soal (kiri).</p>

        <p>Sekarang lihat contoh kedua. Perhatikan gambar dalam kotak sebelah kiri. Dimanakah kemungkinan letak titik tersebut?</p>

        <span><img src="/images/contoh/b_subtes4_contoh2.jpg"></span>

        <p>Titik tersebut berada di dalam 2 (dua) buah segitiga. Sekarang, lihatlah contoh ketiga. Lihat gambar pada kotak sebelah kiri. Dimanakah letak titik tersebut?</p>

        <p>Jawabannya adalah gambar yang terletak dibawah huruf <b>"d"</b>. Maka pilihlah jawaban <b>"d"</b>.</p>

        <p>
            Contoh ketiga. Lihatlah gambar yang terletak di sebelah kiri. Dimanakah letak titik?
            Titik itu terletak di dalam segitiga, dan di atas garis lengkung. Sekarang lihat gambar-gambar di sebelah kanan. Carilah kemungkinan gambar yang letak titiknya serupa dengan yang dipersoalkan.
        </p>

        <span><img src="/images/contoh/b_subtes4_contoh3.jpg"></span>

        <p>Gambar yang benar adalah yang berada pada huruf <b>"b"</b>.</p>
        <p>Gunakanlah imajinasi Anda untuk mencari kemungkinan letak titik tersebut.</p>

        <b><p>Waktu anda terbatas, bekerjalah dengan cepat, teliti dan tepat.</p></b>

        <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>

    </div>

</div>