@model InstructionViewModel

<div class="area-instruksi">

    <div class="judul" style="text-align:center">
        <b>
            <p>PETUNJUK DAN CONTOH UNTUK KELOMPOK SOAL 07</p>
            <p>(Soal-soal No. 117-136)</p>
        </b>
    </div>
    <br>
    <div class="keterangan">
        <p>
            Pada persoalan berikutnya, setiap soal memperlihatkan sesuatu bentuk tertentu yang terpotong menjadi beberapa bagian.
            <br> Carilah di antara bentuk-bentuk yang ditentukan (a,b,c,d,e), bentuk yang dapat dibangun dengan cara menyusun potongan-potongan itu sedemikian rupa, sehingga tidak ada kelebihan sudut atau ruang diantaranya.
            <br> Carilah bentuk-bentuk itu dan coretlah huruf yang menunjukkan bentuk tadi <b>pada lembar jawaban</b> dibelakang nomor soal yang sesuai.
        </p>
        <br>
        <img src="/images/contoh/soal7.png">
        <br>
        <br>
        <b>Contoh 07</b>
        <br>
        <br>
        <p> Jika potongan-potongan pada contoh 07 diatas disusun (digabungkan), maka akan menghasilkan bentuk a.</p>
        <p> Oleh karena itu, <b>pada lembar jawaban</b> di belakang contoh 07, huruf a harus dicoret</p>
        <br>
        <p style="text-align:center"> 07)&nbsp &nbsp <s> a </s> &nbsp &nbsp b &nbsp &nbsp  c  &nbsp &nbsp d  &nbsp &nbsp e</p>
        <br>
        <br>
        <b>Contoh berikutnya :</b>
        <br>
        <br>
        <p> Potongan-potongan contoh kedua setelah disusun (digabungkan) menghasilkan bentuk e.</p>
        <p> Contoh ketiga menjadi bentuk b.</p>
        <p> Contoh keempat ialah bentuk d.</p>
        <br>
        <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>
    </div>
</div>