@model InstructionViewModel

<div class="area-instruksi">

    <div class="judul"></div>

    <div class="keterangan">
        <b><p>Kerjakan Ujian dengan baik, waktu anda terbatas, bekerjalah dengan cepat, teliti dan tepat.</p></b>

        <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>

    </div>

</div>