@model InstructionViewModel

<div class="area-instruksi">

    <div class="judul" style="text-align:center">
        <b>
            <p>PETUNJUK DAN CONTOH UNTUK KELOMPOK SOAL 09</p>
            <p>(Soal-soal No. 157-176)</p>
        </b>
    </div>
    <div class="keterangan">
        <p> Pada persoalan berikutnya, terdapat sejumlah pertanyaan mengenai kata-kata yang telah saudara hafalkan tadi. Coretlah jawaban saudara pada lembaran jawaban di belakang nomor soal yang sesuai.</p>
        <br>
        <br>
        <b>Contoh 09</b>
        <br>
        <br>
        <p> Kata yang mempunyai huruf permulaan - Q - adalah suatu .................</p>
        <br>
        <p> a) bunga &nbsp &nbsp b) perkakas &nbsp &nbsp c) burung &nbsp &nbsp d) kesenian &nbsp &nbsp e) binatang</p>
        <br>
        <p> Quintet adalah termasuk dalam jenis kesenian. sehingga jawaban yang benar adalah d.</p>
        <p> Oleh karena itu pada lembar jawaban di belakang contoh 09 huruf d harus dicoret</p>
        <br>
        <p style="text-align:center"> 09)&nbsp &nbsp a &nbsp &nbsp b &nbsp &nbsp  c  &nbsp &nbsp <s> d </s> &nbsp &nbsp e</p>
        <br>
        <br>
        <b>Contoh berikutnya :</b>
        <br>
        <br>
        <p> Kata yang mempunyai huruf permulaan - Z - adalah suatu .................</p>
        <br>
        <p> a) bunga &nbsp &nbsp b) perkakas &nbsp &nbsp c) burung &nbsp &nbsp d) kesenian &nbsp &nbsp e) binatang</p>
        <br>
        <p> Jawabannya adalah e, karena Zebra termasuk dalam jenis binatang.</p>
        <br>
        <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>

    </div>

</div>