@model InstructionViewModel

<div class="area-instruksi">

    <div class="judul" style="text-align:center">
        <b>
            <p>PETUNJUK DAN CONTOH UNTUK KELOMPOK SOAL 03</p>
            <p>(Soal-soal No. 41-60)</p>
        </b>
    </div>
    <br>
    <div class="keterangan">
        <p>
            Ditentukan 3 (tiga) kata.
            <br> Antara kata pertama dan kata kedua terdapat suatu hubungan yang tertentu.
            <br> Antara kata ketiga dan salah satu diantara lima kata pilihan harus pula terdapat hubungan yang sama itu.
            <br> carilah kata itu.
        </p>
        <br>
        <br>
        <b>Contoh 03</b>
        <br>
        <br>
        <p>Hutan : pohon = tembok : ? </p>
        <p> a) batu bata &nbsp &nbsp b) rumah &nbsp &nbsp c) semen &nbsp &nbsp d) putih &nbsp &nbsp e) dinding</p>
        <br>
        <p> Hubungan antara hutan dan pohon ialah bahwa hutan terdiri atas pohon-pohon, maka hubungan antara tembok dan salah satu kata pilihan ialah bahwa tembok terdiri atas batu-batu bata.</p>
        <p> Oleh karena itu, <b>pada lembar jawaban</b> dibelakang contoh 03,huruf a harus dicoret.</p>
        <br>
        <p style="text-align:center"> 03)&nbsp &nbsp <s> a </s> &nbsp &nbsp b &nbsp &nbsp  c  &nbsp &nbsp d  &nbsp &nbsp e</p>
        <br>
        <br>
        <b>Contoh berikutnya :</b>
        <br>
        <br>
        <p>Gelap : terang = basah : ?</p>
        <p> a) hujan &nbsp &nbsp b) hari  &nbsp &nbsp c) lembab &nbsp &nbsp d) angin &nbsp &nbsp e) kering</p>
        <br>
        <p> Gelap ialah lawannya dari terang, maka untuk basah lawannya ialah kering.</p>
        <p> Maka jawaban yang benar ialah : &nbsp e) kering</p>
        <p> Oleh karena itu huruf e yang seharusnya dicoret</p>
        <br>
        <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>
    </div>
</div>