@model InstructionViewModel

<div class="area-instruksi">

    <div class="judul" style="text-align:center">
        <b>
            <p>PETUNJUK DAN CONTOH UNTUK KELOMPOK SOAL 05</p>
            <p>(Soal-soal No. 77-96)</p>
        </b>
    </div>
    <br>
    <div class="keterangan">
        <p>Persoalan berikutnya ialah soal-soal hitungan.</p>
        <br>
        <br>
        <br>
        <b>Contoh 05</b>
        <br>
        <br>
        <p>Sebatang pensil harganya 25 rupiah. Berapakah harga 3 batang ?</p>
        <br>
        <br>
        <p>jawabannya ialah : 75</p>
        <br>
        <br>
        <p>Perhatikan cara menjawab di atas lembar jawaban !</p>
        <br>
        <br>
        <p>Pada lembar jawaban lihatlah pada kolom 05. <br>kolom ini Terdiri atas angka-angka 1 sampai 9 dan 0<br>Untuk menunjukkan jawaban suatu soal, maka coretlah angka-angka yang terdapat di dalam jawaban itu.<br>Keurutan angka jawaban tidak perlu dihiraukan.</p>
        <br>
        <p>Pada contoh 05, jawaban ialah 75.</p>
        <p> Oleh karena itu, <b>pada lembar jawaban</b> dibelakang contoh 05, angka 7 dan 5 harus di coret.</p>
        <br>
        <br>
        <p style="text-align:center"> 05) 1 &nbsp &nbsp 2 &nbsp &nbsp 3 &nbsp &nbsp 4 &nbsp &nbsp <s> 5 </s> &nbsp &nbsp 6 &nbsp &nbsp <s> 7 </s> &nbsp &nbsp 8 &nbsp &nbsp 9 &nbsp &nbsp 10 &nbsp</p>
        <br>
        <br>
        <b>Contoh lain :</b>
        <br>
        <br>
        <p>Dengan sepeda Husin dapat mencapai 15 km dalam waktu 1 jam, Berapa km-kah yang dapat ia capai dalam waktu 4 jam ?</p>
        <br>
        <p>Jawabannya ialah : 60</p>
        <p>Maka untuk menunjukkan jawaban itu angka 6 dan 0 yang seharusnya dicoret.</p>
        <br>
        <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>
    </div>
</div>