@model InstructionViewModel

<div class="area-instruksi">

    <div class="judul" style="text-align:center">
        <b>
            <p>PETUNJUK DAN CONTOH UNTUK KELOMPOK SOAL 02</p>
            <p>(Soal-soal No. 21-40)</p>
        </b>
    </div>
    <br>
    <div class="keterangan">
        <p>Ditentukan 5 kata. <br> Pada 4 dari 5 kata itu terdapat suatu kesamaan. <br> Carilah kata yang kelima yang tidak memiliki kesamaan dengan keempat kata itu.</p>
        <br>
        <br>
        <b>Contoh 02</b>
        <br>
        <br>
        <p> a) meja &nbsp &nbsp b) kursi &nbsp &nbsp c) burung &nbsp &nbsp d) lemari &nbsp &nbsp e) tempat tidur</p>
        <br>
        <p> a), b), d), dan e) ialah perabot rumah (meubel)</p>
        <p> c) burung, bukan perabot rumah atau tidak memiliki kesamaan dengan keempat kata itu.</p>
        <p> Oleh karena itu, <b>pada lembar jawaban</b> dibelakang contoh 02,huruf c harus dicoret.</p>
        <br>
        <p style="text-align:center"> 02)&nbsp &nbsp a &nbsp &nbsp b &nbsp &nbsp <s> c </s> &nbsp &nbsp d  &nbsp &nbsp e</p>
        <br>
        <br>
        <b>Contoh berikutnya :</b>
        <br>
        <br>
        <p> a) duduk &nbsp &nbsp b) berbaring &nbsp &nbsp c) berdiri &nbsp &nbsp d) berjalan &nbsp &nbsp e) berjongkok</p>
        <br>
        <p> Pada a), b), c), dan e) orang berada dalam keadaan tidak bergerak, sedangkan d) orang dalam keadaan bergerak.</p>
        <p> Maka Jawaban yang benar ialah : &nbsp d) berjalan</p>
        <p> Oleh karena itu huruf d yang seharusnya dicoret.</p>
        <br>
        <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>
    </div>
</div>