@model InstructionViewModel

<div class="area-instruksi">

    <div class="judul">Tes Logika B Sub test 3</div>

    <div class="keterangan">
        <p>
            Perhatikan gambar-gambar yang berisi 3 garis tegak lurus di dalam setiap kotak, tapi ada 1 kotak yang kosong atau hilang. Kotak yang hilang ini terletak di antara 6 kotak kecil yang berada di sebelah kanan. Pilihlah salah satu.
        </p>

        <span><img src="/images/contoh/b_subtes3_contoh1.jpg"></span>

        <p>Perhatikan, kotak kedua lah yang tepat untuk mengisi kotak yang kosong itu. Kotak kedua ini terletak pada huruf <b>"b"</b>. Maka pilihlah jawaban <b>"b"</b>.</p>


        <p>Sekarang lihatlah contoh kedua. Manakah jawaban yang benar?</p>

        <span><img src="/images/contoh/b_subtes3_contoh2.jpg"></span>

        <p>Kotak yang terletak pada huruf <b>"c"</b> yang tepat untuk mengisi kotak kecil yang hilang tersebut, karena yang hilang itu adalah gambar <ul>telunjuk tangan berbintik</ul> yang menghadap ke kanan. Maka pilihlah jawaban sesuai dengan yang anda anggap benar tersebut.</p>

        <p>Sekarang perhatikan kotak ketiga. Di dalam kotak yang besar, berisi 4 (empat) kotak yang terdapat garis-garis tebal. Kotak yang 1 (satu) garis tebal berwarna berpasangan dengan kotak yang bergaris 2 (dua) tebal berwarna pula. Sedangkan dibawahnya ada 1 (satu) kotak yang bergaris satu putih, Anda harus mencari kotak pasangan yang bergaris dua putih.</p>

        <span><img src="/images/contoh/b_subtes3_contoh3.jpg"></span>

        <p>Kotak yang terletak pada  huruf <b>"f"</b> itulah jawabannya.</p>

        <b><p>Waktu anda terbatas, bekerjalah dengan cepat, teliti dan tepat.</p></b>

        <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>

    </div>

</div>