@model InstructionViewModel

<div class="area-instruksi">

    <div class="judul">Tes Logika B Sub test 1</div>

    <div class="keterangan">
        <p>Lihatlah gambar-gambar pada contoh pada tes ini. Kita lihat contoh pada baris pertama. Disitu Anda lihat lingkaran-lingkaran dari yang terbesar berurutan sampai yang paling kecil, mulai dari gambar di kotak pertama sampai pada kotak ketiga.</p>

        <span><img src="/images/contoh/b_subtes1_contoh1.jpg"></span>


        <p>Dapatkah Anda memilih 1 (satu) kotak selanjutnya diantara 6 (enam) kotak yang telah tersedia?</p>

        <p>Kotak <b>"c"</b> adalah yang tepat untuk gambar lingkaran yang paling terkecil. Maka pilihlah <b>"c"</b> untuk jawaban Anda.</p>


        <p>Sekarang lihatlah contoh kedua. Anda dapat lihat beberapa batang kayu (stick) yang berdiri sejajar sama tinggi, dari satu batang lalu bertambah menjadi dua batang, tiga dan seterusnya bertambah satu persatu. Tentunya Anda tahu, di kotak mana yang berisi kayu lebih banyak.</p>

        <span><img src="/images/contoh/b_subtes1_contoh2.jpg"></span>

        <p>Kotak <b>"e"</b> adalah yang tepat untuk gambar selanjutnya, maka pilihlah jawaban <b>"e"</b>.</p>

        <p>Sekarang kita beralih pada contoh ketiga. Lihatlah gambar seperti dua stick golf dan sebuat titik di atara keduanya. Dari tegak, miring dan makin lama merebah. Bagaimana Anda mengetahui kelanjutan dari gambar-gambar tersebut?</p>

        <span><img src="/images/contoh/b_subtes1_contoh3.jpg"></span>

        <p>Kotak <b>"e"</b> adalah yang tepat untuk gambar selanjutnya.</p>

        <p>Mulailah dari no. 1 – 13. <b>Waktu anda terbatas, bekerjalah dengan cepat, teliti dan tepat.</b></p>

        <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>

    </div>

</div>