@model InstructionViewModel

<div class="area-instruksi">

    <div class="judul" style="text-align:center">
        <b>
            <p>PETUNJUK DAN CONTOH UNTUK KELOMPOK SOAL 04</p>
            <p>(Soal-soal No. 61-76)</p>
        </b>
    </div>
    <br>
    <div class="keterangan">
        <p>Ditentukan dua kata. <br>Carilah satu perkataan yang meliputi pengertian kedua kata tadi. <br>Tuliskan perkataan itu pada lembar jawaban di belakang nomor soal yang sesuai.</p>
        <br>
        <br>
        <br>
        <b>Contoh 04</b>
        <br>
        <br>
        <p>Ayam - itik</p>
        <br>
        <p>Perkataan "burung" dapat meliputi pengertian kedua kata itu</p>
        <p>Maka jawabannya ialah "burung"</p>
        <p> Oleh karena itu, <b>pada lembar jawaban</b> dibelakang contoh 04, harus ditulis "burung".</p>
        <br>
        <br>
        <p style="text-align:center"> 04) &nbsp burung</p>
        <br>
        <br>
        <b>Contoh berikutnya :</b>
        <br>
        <br>
        <p>Gaun - celana</p>
        <br>
        <p>Pada contoh ini jawabannya ialah "pakaian", maka "pakaian" yang seharusnya ditulis.</p>
        <p>Carilah selalu perkataan yang tepat yang dapat meliputi pengertian kedua kata itu.</p>
        <br>
        <a id="fvpp-close" asp-route="Exam" asp-route-UjianTahapId="@Model.UjianTahapId" asp-route-Nomer="1">OK</a>
    </div>
</div>