
@{
    ViewData["Title"] = "Soal";
}

@section Styles {
    <link href="~/lib/ujian/bootstrap/animate.min.css" rel="stylesheet" />
    <link href="~/lib/ujian/liquidslider-master/css/liquid-slider.css" rel="stylesheet" />
    <style>
        .area-main .container {
            background: rgba(255,255,255,1);
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <div class="area-judul-halaman">Ujian Tahap 1</div>
    </div>
    <div class="col-md-9 area-soal-wrapper">
        <div class="area-soal reqInfoIsi">
            <div id="main-slider-wrapper" class="ls-wrapper arrows ls-responsive">
                <div id="main-slider" class="liquid-slider">
                    <div id="1" class="area-soal-item main-slider-panel ls-panel currentPanel" style="width: 738px;">
                        <div class="panel-wrapper">
                            <input type="hidden" id="reqTempBankSoalPilihanId1-2-366-202" value="">
                            <input type="hidden" name="reqBankSoalPilihanId[]" id="reqBankSoalPilihanId1-2-366-202" value="">
                            <span class="nomor">2</span>
                            <span class="pertanyaan">Suatu ……….. tidak menyangkut persoalan pencegahan kecelakaan.</span>
                            <div class="area-jawab-pilihan-ganda">
                                <label class="pilihan-ganda" for="reqRadio1-2-366-202-1043">
                                    <input type="radio" class="easyui-validatebox validatebox-text" name="reqRadio2-366-202" id="reqRadio1-2-366-202-1043" value="1043">
                                    <span class="teks">kacamata pelindung</span>
                                </label>
                                <br>
                                <label class="pilihan-ganda" for="reqRadio1-2-366-202-1045">
                                    <input type="radio" class="easyui-validatebox validatebox-text" name="reqRadio2-366-202" id="reqRadio1-2-366-202-1045" value="1045">
                                    <span class="teks">kotak PPPK</span>
                                </label>
                                <br>
                                <label class="pilihan-ganda" for="reqRadio1-2-366-202-1042">
                                    <input type="radio" class="easyui-validatebox validatebox-text" name="reqRadio2-366-202" id="reqRadio1-2-366-202-1042" value="1042">
                                    <span class="teks">lampu lalu lintas</span>
                                </label>
                                <br>
                                <label class="pilihan-ganda" for="reqRadio1-2-366-202-1044">
                                    <input type="radio" class="easyui-validatebox validatebox-text" name="reqRadio2-366-202" id="reqRadio1-2-366-202-1044" value="1044">
                                    <span class="teks">palang kereta api</span>
                                </label>
                                <br>
                                <label class="pilihan-ganda" for="reqRadio1-2-366-202-1046">
                                    <input type="radio" class="easyui-validatebox validatebox-text" name="reqRadio2-366-202" id="reqRadio1-2-366-202-1046" value="1046">
                                    <span class="teks">tanda peringatan</span>
                                </label>
                                <br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 area-sudah-wrapper reqInfoIsi">
        <div class="area-sudah">
            <div class="item">
                <a href="#1" id="reqHrefNomor1" class="pilih"><i id="reqInfoChecked1" class="fa fa-circle"></i>  1</a>
            </div>
            <div class="item">
                <a href="#2" id="reqHrefNomor2"><i id="reqInfoChecked2" class="fa fa-circle"></i>  2</a>
            </div>
            <div class="item">
                <a href="#3" id="reqHrefNomor3"><i id="reqInfoChecked3" class="fa fa-circle"></i>  3</a>
            </div>
            <div class="item">
                <a href="#4" id="reqHrefNomor4"><i id="reqInfoChecked4" class="fa fa-circle"></i>  4</a>
            </div>
            <div class="item">
                <a href="#5" id="reqHrefNomor5"><i id="reqInfoChecked5" class="fa fa-circle"></i>  5</a>
            </div>
            <div class="item">
                <a href="#6" id="reqHrefNomor6"><i id="reqInfoChecked6" class="fa fa-circle"></i>  6</a>
            </div>
            <div class="item">
                <a href="#7" id="reqHrefNomor7"><i id="reqInfoChecked7" class="fa fa-circle"></i>  7</a>
            </div>
            <div class="item">
                <a href="#8" id="reqHrefNomor8"><i id="reqInfoChecked8" class="fa fa-circle"></i>  8</a>
            </div>
            <div class="item">
                <a href="#9" id="reqHrefNomor9"><i id="reqInfoChecked9" class="fa fa-circle"></i>  9</a>
            </div>
            <div class="item">
                <a href="#10" id="reqHrefNomor10"><i id="reqInfoChecked10" class="fa fa-circle"></i>  10</a>
            </div>
            <div class="item">
                <a href="#11" id="reqHrefNomor11"><i id="reqInfoChecked11" class="fa fa-circle"></i>  11</a>
            </div>
            <div class="item">
                <a href="#12" id="reqHrefNomor12"><i id="reqInfoChecked12" class="fa fa-circle"></i>  12</a>
            </div>
            <div class="item">
                <a href="#13" id="reqHrefNomor13"><i id="reqInfoChecked13" class="fa fa-circle"></i>  13</a>
            </div>
            <div class="item">
                <a href="#14" id="reqHrefNomor14"><i id="reqInfoChecked14" class="fa fa-circle"></i>  14</a>
            </div>
            <div class="item">
                <a href="#15" id="reqHrefNomor15"><i id="reqInfoChecked15" class="fa fa-circle"></i>  15</a>
            </div>
            <div class="item">
                <a href="#16" id="reqHrefNomor16"><i id="reqInfoChecked16" class="fa fa-circle"></i>  16</a>
            </div>
            <div class="item">
                <a href="#17" id="reqHrefNomor17"><i id="reqInfoChecked17" class="fa fa-circle"></i>  17</a>
            </div>
            <div class="item">
                <a href="#18" id="reqHrefNomor18"><i id="reqInfoChecked18" class="fa fa-circle"></i>  18</a>
            </div>
            <div class="item">
                <a href="#19" id="reqHrefNomor19"><i id="reqInfoChecked19" class="fa fa-circle"></i>  19</a>
            </div>
            <div class="item">
                <a href="#20" id="reqHrefNomor20"><i id="reqInfoChecked20" class="fa fa-circle"></i>  20</a>
            </div>
        </div>
    </div>
    <div class="area-prev-next-ujian reqInfoIsi">
        <div class="prev-ujian" style="" id="reqIdPrev"><a asp-route="Tahap1Soal" asp-route-nomer="1" id="reqHrefIdPrev"><i class="fa fa-chevron-left"></i>  Sebelumnya</a></div>
        <div class="next-ujian" id="reqIdNext"><a asp-route="Tahap1Soal" asp-route-nomer="3" id="reqHrefIdNext"> Selanjutnya <i class="fa fa-chevron-right"></i></a></div>
    </div>

</div>

@section Scripts {
    <script src="~/lib/ujian/bootstrap/jquery.touchSwipe.min.js"></script>
    <script src="~/lib/ujian/liquidslider-master/src/js/jquery.liquid-slider.js"></script>
}