
@{
    ViewData["Title"] = "Tahapan Tes";
}

<div class="row">
    <div class="col-md-12">
        <div class="area-judul-halaman">Tahapan Tes</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="area-soal">
            <div class="area-sudah finish">
                <div class="row">
                    <div class="col-md-12">
                        <span class="pilih-data" style="float:left; margin-left:10px;">
                            <a href="#" onclick="setujian('10', '19')" class="tahap-belum">
                                IST sub tes 1 &raquo;
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="pilih-data" style="float:left; margin-left:10px;">
                            <a href="#" onclick="setujian('11', '20')" class="tahap-belum">
                                IST sub tes 2 &raquo;
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="pilih-data" style="float:left; margin-left:10px;">
                            <a href="#" onclick="setujian('12', '21')" class="tahap-belum">
                                IST sub tes 3 &raquo;
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="pilih-data" style="float:left; margin-left:10px;">
                            <a href="#" onclick="setujian('13', '22')" class="tahap-belum">
                                IST sub tes 4 &raquo;
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="pilih-data" style="float:left; margin-left:10px;">
                            <a href="#" onclick="setujian('14', '23')" class="tahap-belum">
                                IST sub tes 5 &raquo;
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="pilih-data" style="float:left; margin-left:10px;">
                            <a href="#" onclick="setujian('15', '24')" class="tahap-belum">
                                IST sub tes 6 &raquo;
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="pilih-data" style="float:left; margin-left:10px;">
                            <a href="#" onclick="setujian('16', '25')" class="tahap-belum">
                                IST sub tes 7 &raquo;
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="pilih-data" style="float:left; margin-left:10px;">
                            <a href="#" onclick="setujian('17', '26')" class="tahap-belum">
                                IST sub tes 8 &raquo;
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="pilih-data" style="float:left; margin-left:10px;">
                            <a href="#" onclick="setujian('19', '27')" class="tahap-belum">
                                IST sub tes 9 &raquo;
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="pilih-data" style="float:left; margin-left:10px;">
                            <a href="#" onclick="setujian('18', '28')" class="tahap-belum">
                                Tes Pauli &raquo;
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="area-prev-next">
        <div class="kembali-home">
        </div>
    </div>
</div>