
.sidebar-menu1{
	padding:10px;
	background: #82c8c9; /* Fallback background color for non supported browsers */         
	
	background-image: -moz-linear-gradient(top, #33fbfd, #559fa0); /* Firefox 3.6 */
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #33fbfd),color-stop(1, #559fa0)); /* Safari & Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33fbfd', endColorstr='#559fa0'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33fbfd', endColorstr='#559fa0')"; /* IE8 */
	
}
/*End General Styles*/


/* Start button effects */

/* Tuturial button*/
.button {
	width:570px;
	height:64px;
	display:block;
	background-image:url(images/downloadbutton.png);
	background-position: top;
}
.button:hover{
	width:570px; 
	background-position: bottom;
	height:64px;
	background-image:url(images/downloadbutton.png) no repeat;
}

/*********************************************************************************************/

.sidebar-menu{
	clear: both; position:relative; display:block; height: 27px; width: 240px; 
	
	/*background:url(images/menukiri_satker/lokasikerja.png) no-repeat;*/
	background: #82c8c9; /* Fallback background color for non supported browsers */         
	
	background-image: -moz-linear-gradient(top, #33fbfd, #000); /* Firefox 3.6 */
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #33fbfd),color-stop(1, #000)); /* Safari & Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33fbfd', endColorstr='#000'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33fbfd', endColorstr='#000')"; /* IE8 */

	
	background-position:0 0; cursor: pointer;
}	
.sidebar-menu span.hover {
	position: absolute; display: block; height: 27px; width: 240px; 
	
	/*background: url(images/menukiri_satker/lokasikerja.png) no-repeat; */
	background: #82c8c9; /* Fallback background color for non supported browsers */         
	
	background-image: -moz-linear-gradient(top, #33fbfd, #FFF); /* Firefox 3.6 */
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #33fbfd),color-stop(1, #FFF)); /* Safari & Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33fbfd', endColorstr='#FFF'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33fbfd', endColorstr='#FFF')"; /* IE8 */

	
	background-position: 0 -27px;
}

/*********************************************************************************************/

/* Tutorial button with jQuery */
.lokasikerja{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/lokasikerja.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.lokasikerja span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/lokasikerja.png) no-repeat; 
	background-position: 0 -27px;
}


.idpegawai{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/idpegawai.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.idpegawai span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/idpegawai.png) no-repeat; 
	background-position: 0 -27px;
}


.pengalamankerja{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/pengalamankerja.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.pengalamankerja span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/pengalamankerja.png) no-repeat; 
	background-position: 0 -27px;
}


.sk-cpns{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/sk-cpns.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.sk-cpns span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/sk-cpns.png) no-repeat; 
	background-position: 0 -27px;
}


.sk-pns{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/sk-pns.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.sk-pns span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/sk-pns.png) no-repeat; 
	background-position: 0 -27px;
}



.riwayatpangkat {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/menukiri_satker/riwayatpangkat.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
}	
.riwayatpangkat span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/menukiri_satker/riwayatpangkat.png) no-repeat;
	background-position: 0 -27px;
}

.riwayatjabatan{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/riwayatjabatan.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.riwayatjabatan span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/riwayatjabatan.png) no-repeat; 
	background-position: 0 -27px;
}

.riwayatgaji{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/riwayatgaji.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.riwayatgaji span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/riwayatgaji.png) no-repeat; 
	background-position: 0 -27px;
}

.pendumum{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/pendumum.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.pendumum span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/pendumum.png) no-repeat; 
	background-position: 0 -27px;
}

.diklatstruktural{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/diklatstruktural.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.diklatstruktural span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/diklatstruktural.png) no-repeat; 
	background-position: 0 -27px;
}


.diklatfungsional{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/diklatfungsional.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.diklatfungsional span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/diklatfungsional.png) no-repeat; 
	background-position: 0 -27px;
}


.diklatteknis{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/diklatteknis.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.diklatteknis span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/diklatteknis.png) no-repeat; 
	background-position: 0 -27px;
}


.penataran{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/penataran.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.penataran span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/penataran.png) no-repeat; 
	background-position: 0 -27px;
}


.seminar{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/seminar.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.seminar span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/seminar.png) no-repeat; 
	background-position: 0 -27px;
}


.kursus{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/kursus.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.kursus span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/kursus.png) no-repeat; 
	background-position: 0 -27px;
}


.ortu{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/ortu.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.ortu span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/ortu.png) no-repeat; 
	background-position: 0 -27px;
}


.mertua{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/mertua.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.mertua span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/mertua.png) no-repeat; 
	background-position: 0 -27px;
}


.suamiistri{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/suamiistri.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.suamiistri span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/suamiistri.png) no-repeat; 
	background-position: 0 -27px;
}


.anak{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/anak.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.anak span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/anak.png) no-repeat; 
	background-position: 0 -27px;
}


.saudara{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/saudara.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.saudara span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/saudara.png) no-repeat; 
	background-position: 0 -27px;
}


.organisasi{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/organisasi.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.organisasi span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/organisasi.png) no-repeat; 
	background-position: 0 -27px;
}


.penghargaan{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/penghargaan.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.penghargaan span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/penghargaan.png) no-repeat; 
	background-position: 0 -27px;
}


.dp3{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/dp3.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.dp3 span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/dp3.png) no-repeat; 
	background-position: 0 -27px;
}


.potensidiri{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/potensidiri.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.potensidiri span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/potensidiri.png) no-repeat; 
	background-position: 0 -27px;
}


.catatanprestasi{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/catatanprestasi.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.catatanprestasi span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/catatanprestasi.png) no-repeat; 
	background-position: 0 -27px;
}


.hukuman{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/hukuman.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.hukuman span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/hukuman.png) no-repeat; 
	background-position: 0 -27px;
}


.cuti{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/cuti.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.cuti span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/cuti.png) no-repeat; 
	background-position: 0 -27px;
}


.riwayatpenugasan{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/riwayatpenugasan.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.riwayatpenugasan span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/riwayatpenugasan.png) no-repeat; 
	background-position: 0 -27px;
}


.bahasa{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/bahasa.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.bahasa span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/bahasa.png) no-repeat; 
	background-position: 0 -27px;/* margin-top:-30px;*/
}


.nikah{
	clear: both; position:relative; display:block; height: 27px; width: 240px; background:url(images/menukiri_satker/nikah.png) no-repeat;
	background-position:0 0; cursor: pointer;
}	
.nikah span.hover {
	position: absolute; display: block; height: 27px; width: 240px; background: url(images/menukiri_satker/nikah.png) no-repeat; 
	background-position: 0 -27px;
}

.tambmasakerja {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/menukiri_satker/tambmasakerja.png) no-repeat;
	background-position:0 0;
	/*background-image:url(images/sign.png);*/
	cursor: pointer;
}	
.tambmasakerja span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/menukiri_satker/tambmasakerja.png) no-repeat;
	background-position: 0 -27px;
}




























































.infopelayanan {
	clear: both;
	position:relative;
	display:block;
	height: 30px;
	width: 203px;
	background:url(images/infopelayanan.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
}	
.infopelayanan span.hover {
	position: absolute;
	display: block;
	height: 30px;
	width: 203px;
	background: url(images/infopelayanan.png) no-repeat;
	background-position: bottom;
}

.klasifikasi {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/beranda.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
}	
.klasifikasi span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/beranda.png) no-repeat;
	background-position: bottom;
	opacity:0.8;
	filter:alpha(opacity=80);	
}

.manuser {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/beranda.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
}	
.manuser span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/beranda.png) no-repeat;
	background-position: bottom;
	opacity:0.8;
	filter:alpha(opacity=80);	
}

.satker {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/satker.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
}	
.satker span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/satker.png) no-repeat;
	background-position: bottom;
	opacity:0.8;
	filter:alpha(opacity=80);	
}

.daftaralamat {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/daftaralamat.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
}	
.daftaralamat span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/daftaralamat.png) no-repeat;
	background-position: bottom;
	opacity:0.8;
	filter:alpha(opacity=80);	
}

.suratmasuk {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/suratmasuk.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
}	
.suratmasuk span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/suratmasuk.png) no-repeat;
	background-position: bottom;
	opacity:0.8;
	filter:alpha(opacity=80);	
}
.entrisuratmasuk {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/entrisuratmasuk.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
}	
.entrisuratmasuk span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/entrisuratmasuk.png) no-repeat;
	background-position: bottom;
	opacity:0.8;
	filter:alpha(opacity=80);	
}
.entrisuratkeluar {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/entrisuratkeluar.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
}	
.entrisuratkeluar span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/entrisuratkeluar.png) no-repeat;
	background-position: bottom;
	opacity:0.8;
	filter:alpha(opacity=80);	
}
.notadinas {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/notadinas.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
}	
.notadinas span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/notadinas.png) no-repeat;
	background-position: bottom;
	opacity:0.8;
	filter:alpha(opacity=80);	
}
.entrinotadinas {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/entrinotadinas.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
}	
.entrinotadinas span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/entrinotadinas.png) no-repeat;
	background-position: bottom;
	opacity:0.8;
	filter:alpha(opacity=80);	
}
.rekapsuratmasuk {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/rekapsuratmasuk.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
}	
.rekapsuratmasuk span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/rekapsuratmasuk.png) no-repeat;
	background-position: bottom;
	opacity:0.8;
	filter:alpha(opacity=80);	
}
.rekapnotadinas {
	clear: both;
	position:relative;
	display:block;
	height: 27px;
	width: 240px;
	background:url(images/rekapnotadinas.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
	opacity:0.8;
	filter:alpha(opacity=80);
}	
.rekapnotadinas span.hover {
	position: absolute;
	display: block;
	height: 27px;
	width: 240px;
	background: url(images/rekapnotadinas.png) no-repeat;
	background-position: bottom;
	opacity:0.8;
	filter:alpha(opacity=80);	
}

